openapi: 3.1.1
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema

info:
  title: Pack 170 CMS Contact API
  version: 1.0.0
  summary: Public submission and administrator review APIs owned by macon170-cms.
  description: |
    The public Astro site posts its branded form directly to this independently
    deployed SonicJS CMS API. The public-site Worker does not proxy, store, or
    administer contact submissions.
  contact:
    name: Pack 170
    url: https://www.macon170.com/contact/
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://cms.macon170.com
    description: Pack 170 SonicJS CMS

tags:
  - name: Contact
    description: Public form schema and parent or guardian submission.
  - name: Contact administration
    description: SonicJS administrator-only inquiry queue.

paths:
  /api/forms/contact/schema:
    get:
      tags: [Contact]
      operationId: getContactFormSchema
      summary: Read the public contact form schema
      security: []
      responses:
        '200':
          description: Pack contact form definition and version.
          content:
            application/json:
              schema:
                type: object
                required: [id, name, displayName, schema, settings, submitUrl]
                properties:
                  id:
                    const: default-contact-form
                  name:
                    const: contact
                  displayName:
                    type: string
                  schema:
                    type: object
                  settings:
                    type: object
                    required: [version]
                    properties:
                      version:
                        const: pack-contact-v1
                  submitUrl:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/forms/contact/submit:
    options:
      tags: [Contact]
      operationId: preflightContactSubmission
      summary: Preflight a JSON contact submission
      security: []
      responses:
        '204':
          description: The configured public origin may submit.
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Contact]
      operationId: submitParentInquiry
      summary: Submit a parent or guardian inquiry
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContactForm'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContactForm'
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ContactForm'
                - type: object
                  required: [data]
                  properties:
                    data:
                      $ref: '#/components/schemas/ContactForm'
      responses:
        '201':
          description: JSON submission accepted.
          content:
            application/json:
              schema:
                type: object
                required: [success, submissionId, contentId, message]
                properties:
                  success:
                    const: true
                  submissionId:
                    type: string
                    format: uuid
                  contentId:
                    type: string
                    format: uuid
                  message:
                    type: string
        '303':
          description: HTML form submission accepted or redirected to a friendly error state.
          headers:
            Location:
              required: true
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/Unavailable'

  /api/contact-admin/v1/submissions:
    get:
      tags: [Contact administration]
      operationId: listContactSubmissions
      summary: List parent inquiries
      security:
        - cmsSession: []
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SubmissionStatus'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1
      responses:
        '200':
          description: Paginated submissions ordered newest first.
          content:
            application/json:
              schema:
                type: object
                required: [version, submissions, page, hasMore]
                properties:
                  version:
                    const: pack-contact-v1
                  submissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Submission'
                  page:
                    type: integer
                  hasMore:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/contact-admin/v1/submissions/{submissionId}:
    parameters:
      - $ref: '#/components/parameters/SubmissionId'
    get:
      tags: [Contact administration]
      operationId: getContactSubmission
      summary: Open and audit a parent inquiry
      security:
        - cmsSession: []
      responses:
        '200':
          description: Submission detail. Opening it creates a view audit record.
          content:
            application/json:
              schema:
                type: object
                required: [version, submission]
                properties:
                  version:
                    const: pack-contact-v1
                  submission:
                    $ref: '#/components/schemas/Submission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Contact administration]
      operationId: updateContactSubmission
      summary: Change and audit an inquiry status
      security:
        - cmsSession: []
      parameters:
        - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/SubmissionStatus'
      responses:
        '200':
          description: Status updated and audited.
          content:
            application/json:
              schema:
                type: object
                required: [version, status, statusLabel]
                properties:
                  version:
                    const: pack-contact-v1
                  status:
                    $ref: '#/components/schemas/SubmissionStatus'
                  statusLabel:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    cmsSession:
      type: apiKey
      in: cookie
      name: auth_token
      description: Active SonicJS administrator session.

  parameters:
    SubmissionId:
      name: submissionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CsrfToken:
      name: X-CSRF-Token
      in: header
      required: true
      schema:
        type: string
      description: Must match the signed `csrf_token` cookie.

  schemas:
    ContactForm:
      type: object
      required: [parentName, email, topic, message, cf-turnstile-response]
      properties:
        parentName:
          type: string
          minLength: 2
          maxLength: 120
        email:
          type: string
          format: email
          minLength: 5
          maxLength: 254
        phone:
          type: string
          maxLength: 40
        childGrade:
          type: string
          enum: ['', Kindergarten, 1st grade, 2nd grade, 3rd grade, 4th grade, 5th grade]
        topic:
          type: string
          enum:
            - Planning a first visit
            - Calendar or event detail
            - Finding my child’s den
            - Volunteering
            - Website or privacy question
            - Something else
        message:
          type: string
          minLength: 10
          maxLength: 4000
        cf-turnstile-response:
          type: string
          minLength: 1
          maxLength: 2048
          writeOnly: true
        website:
          type: string
          maxLength: 100
          writeOnly: true
          description: Honeypot field; browsers leave it empty and it is never stored.

    SubmissionStatus:
      type: string
      enum: [pending, reviewed, approved, spam]

    Submission:
      type: object
      required:
        - id
        - status
        - statusLabel
        - parentName
        - email
        - topic
        - message
        - submittedAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        number:
          type: [integer, 'null']
        status:
          $ref: '#/components/schemas/SubmissionStatus'
        statusLabel:
          type: string
        parentName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: [string, 'null']
        childGrade:
          type: [string, 'null']
        topic:
          type: string
        message:
          type: string
        countryCode:
          type: [string, 'null']
        sourcePath:
          type: [string, 'null']
        submittedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastViewedAt:
          type: [string, 'null']
          format: date-time

    Error:
      type: object
      required: [error]
      properties:
        success:
          type: boolean
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    BadRequest:
      description: Validation or security-check failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: CMS sign-in required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Origin, CMS role, or CSRF protection rejected the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Form or submission not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PayloadTooLarge:
      description: Request body exceeded 24 KB.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnsupportedMediaType:
      description: Unsupported request content type.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Contact rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Unexpected CMS error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unavailable:
      description: CMS or Turnstile temporarily unavailable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
